<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" />

    <input type="hidden" id="user_mail">
    <button>Send</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/theme/js/jquery-3.3.1.min.js"></script>
<script src="/libs/cryptojs.js"></script>
<script src="/libs/md5.js"></script>
<script src="/libs/jsencrypt.min.js"></script>
<script type="text/javascript" src="/scripts.js"></script>
</body>
</html>